body {
    margin: 0px;
    font-family: "Lato", sans-serif;;
}

footer {
    position:relative;
    font-family: "Lato", sans-serif;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #f9e5d8;;
    color: #8a8a8a;
    text-align: center;
}

.footer-special {
    position:fixed;
    font-family: "Lato", sans-serif;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #f9e5d8;;
    color: #8a8a8a;
    text-align: center;
}

.name {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.caption {
    color: #c97c5d;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    padding-left: 40px;
}


/* css grid */
.container {
    display: grid;
    grid-template-columns: 1 fr; 
}

/* Navigation Bar styles  */
.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9e5d8;
}

.left-nav {
    display: flex;
}

/* this traverses through a tree of classes 
all the way from outer to inner */
.nav-wrap > .left-nav > div {
    margin-right: 20px;
    font-size: 1em; /* em is a precentage */
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.nav-link-wrap {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

/* only grab the a links inside the wrappe */
.nav-link-wrap a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrap a:active {
    border-bottom: 1px solid black;
    color: black;
}

/* when hovering, font color changes and line gets added */
.nav-link-wrap a:hover {
    color:black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio style */
.portfolio-items-wrap {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}

.portfolio-item-wrap {
    position: relative;
}

    /* styles cover and image related items */
.portfolio-img-background {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrap {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 25%;
    /* padding-right: 100px; */
}

.img-text-wrap {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrap .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}    


/* needs to be more specific with selector */
.img-text-wrap:hover .subtitle {
    font-size: 50px;
    color: whitesmoke;
    font-family: "Lato", sans-serif;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* ABOUT PAGE STYLES */

.two-column-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-img-wrap img {
    width: 100%;
    padding: 5px;
}

.profile-content-wrap {
    padding-left: 25px;
    padding-right: 25px;

}

.profile-content-wrap h1 {
    color: #c97c5d;
    font-family: "Bebas Neue", sans-serif;
}

/* screen size rendition */
@media screen and (max-width: 600px) {
    .profile-content-wrap h1 {
        transition: font-size ease-in-out 0.5s;
        font-size: 20px;
    }

    .nav-wrap {
        transition: padding ease-in-out 0.8s;
        padding: 18px;
    }
    
    .nav-link-wrap a, .name {
        transition: font-size ease-in-out 0.8s;
        font-size: small;
    }

    body {
        transition: font-size ease-in-out 0.8s;
        font-size: smaller;
    }

    video {
        transition: width ease-in-out 0.8s, height ease-in-out 0.8s;
        width: 300px;
        height: 300px;
    }

}

/* STYLING FOR PROJECTS */
.image-grid {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    
    display: grid;
    grid-template-columns: rep(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
}

/* .image-grid:hover .subtitle {
    font-size: 15px;
    color: aqua;
    font-family: "Lato", sans-serif;
} */

@media screen and (max-width: 1024px) {
    .image-grid {
        grid-template-columns: rep(1, 1fr);
        grid-auto-rows: 200px;
    }
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* STYLING FOR HOVER OVER IMAGE CAPTION */

/* .image-grid img:hover {
    opacity: 50%;
    transition: opacity 0.8s;
    content: counter(title);
} */

.text-container {
    position: relative;
    width: auto;
}

.image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
} 

/* .image-long {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    height: 100%; 
    object-fit: cover;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #eeb1a8;
}

.text-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



